/* You can add global styles to this file, and also import other style files */

html {
    font-size: 0.625em;
}
body {
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: 'Spartan', sans-serif;}